---
---

@import "{{ site.theme }}";

body {
  max-width: 100%;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner {
  max-width: 100%;
}

main {
  max-width: 100%;
}

.page-content {
  max-width: 100%;
}
