---
---

@import "{{ site.theme }}";

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: none;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.inner {
  max-width: none;
  width: 100%;
}
